
// Background colors
$background-color-light:        #ccddff;
$background-color-dark:         #223; 
$background-color-portrait:     #e29060; 



// square colors
$storm-square_color:            #191970;
$tsquare-color:                 #F8B;
$tsquare-color-dark:            #9b486c;
$dcube-color:                   blue; 


