// ** Husk å sette alle svg farger inn i en parent ID eller class, slik at vi ikke blander fargene

// Colors for the svg_seagull svg
.svg__seagull {
    .cls-1 {
        fill: #e5e6e8;
    }

    .cls-2 {
        fill: #bbbdbf;
    }

    .cls-3 {
        fill: #cbd4da;
    }

    .cls-4 {
        fill: #55595c;
    }

    .cls-5 {
        fill: #ecf6fb;
    }

    .cls-6 {
        fill: #5a5b5c;
    }

    .cls-7 {
        fill: #64788b;
    }

    .cls-8 {
        fill: #e6f1f7;
    }

    .cls-9 {
        fill: #647b91;
    }

    .cls-10 {
        fill: #a6bfd4;
    }

    .cls-11 {
        fill: #a8bfd3;
    }

    .cls-12 {
        fill: #92a7b9;
    }

    .cls-13 {
        fill: #dd923f;
    }

    .cls-14 {
        fill: #e4d6c2;
    }

    .cls-15 {
        fill: #535455;
    }

    .cls-16 {
        fill: #ede2d5;
    }

    .cls-17 {
        fill: #cba171;
    }

    .cls-18 {
        fill: #bc9659;
    }

    .cls-19 {
        fill: #788491;
    }

    .cls-20 {
        fill: #a1703c;
    }

    .cls-21 {
        fill: #dcb074;
    }
}

.svg__bag {

    .cls-1 {
        fill: #e5e3e4;
    }

    .cls-2 {
        fill: #d9d4d4;
    }

    .cls-3 {
        fill: #d4b8bc;
    }

    .cls-4 {
        fill: #c79699;
    }

    .cls-5 {
        fill: #e0dedf;
    }

    .cls-6 {
        fill: #e4001e;
    }

    .cls-7 {
        fill: #e50023;
    }

    .cls-8 {
        fill: #e4001a;
    }

    .cls-9 {
        fill: #e30015;
    }

    .cls-10 {
        fill: #dcdade;
    }

}

.svg__fish {
    .cls-1 {
        fill: #b0ddde;
    }

    .cls-2 {
        fill: #9bcecd;
    }

    .cls-3 {
        fill: #ecbdb4;
    }

    .cls-4 {
        fill: #0f6953;
    }

    .cls-5 {
        fill: #106954;
    }

    .cls-6 {
        fill: #cfccc8;
    }

    .cls-7 {
        fill: #83bcb7;
    }

    .cls-8 {
        fill: #69a9a0;
    }

    .cls-9 {
        fill: #2d7e6c;
    }

    .cls-10 {
        fill: #4a9386;
    }

    .cls-11 {
        fill: #186c58;
    }

    .cls-12 {
        fill: #cbcec9;
    }

    .cls-13 {
        fill: #0f6955;
    }

    .cls-14 {
        fill: #156b57;
    }

    .cls-15 {
        fill: #29715e;
    }
}

#svg__boat {

    .cls-1 {
        fill: #24374a;
    }

    .cls-2 {
        fill: #67bcda;
    }

    .cls-3 {
        fill: #fdc687;
    }

    .cls-4 {
        fill: #2a5250;
    }

    .cls-5 {
        fill: #ed3b4f;
    }

    .cls-6 {
        fill: #f0b097;
    }

    .cls-7 {
        fill: #9ad8f6;
    }

    .cls-8 {
        fill: #f4e5db;
    }

    .cls-9 {
        fill: #fc7581;
    }

}

.SVG__slide__five__body {
    .st0{stroke:#000000;stroke-miterlimit:10;}
}

.SVG__slide__five__pipe {
    .st0{fill:#39B54A;stroke:#000000;stroke-miterlimit:10;}
    .st1{fill:#009444;stroke:#000000;stroke-miterlimit:10;}
}

.SVG__slide__five__radsign {
    .st0{fill:#F8EC24;}
}

.SVG__slide__five__fish__dead {
    .st0{fill:#2BB673;stroke:#000000;stroke-miterlimit:10;}
    .st1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st2{fill:#231F20;}
}

.SVG__slide__seven__fish__alive {
    .st0{fill:#2BB673;stroke:#000000;stroke-miterlimit:10;}
    .st1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st2{fill:#2E3192;stroke:#000000;stroke-miterlimit:10;}
}

.svg__slide__seven__coral__orange {
    fill:#F15A24;
}

.svg__slide__seven__coral__red {
    fill:#A91523;
}