@keyframes tsquare {
    0% {
        left: 0px
    }

    ;

    25% {
        left: 200px;
        transform: rotate(45deg);
    }

    ;

    50% {
        left: -200px;
        transform: rotate(90deg);
    }

    ;

    75% {
        left: 200px;
        transform: rotate(120deg);
    }

    ;

    100% {
        left: 0px;
    }
}

@keyframes ss_anim {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        left: -50px;
    }

    50% {
        top: 100px;
        left: -50px;
    }

    75% {
        top: 50px;
        left: 0px;
    }

    100% {
        top: 50px;
        left: 50px;
    }
}

@keyframes dcube {
    0% {
        left: 0px
    }

    ;

    20% {
        left: 200px;
        transform: rotate(100deg);
    }

    ;

    40% {
        left: 400px;
        transform: rotate(200deg);
    }

    ;

    60% {
        left: 600px;
        transform: rotate(300deg);
    }

    ;

    80% {
        left: 400px;
        transform: rotate(200deg);
    }

    ;

    100% {
        left: 0px;
    }
}