@keyframes seagullShake__anim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes seagullMove_anim {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-95vw);
    }
}

// @keyframes anim__pipe__trash__move {
// 	0% {
// 		transform: translate(0);
// 	}


// 	100% {
// 		transform: translate(1400px, 0px) rotate(420deg);
		
// 	}
// }

// @keyframes anim__pipe__spitingout {
// 	0% {
// 		width: 60%; 
// 	}

// 	50% {
// 		width: 65%;
// 	}

// 	100% {
// 		width: 60%;
// 	}

// }
