@use "../abstracts/colors";
@use "../seperations/animations";

// Setting the width and height of all the slides so everyone starts with the same canvas
.slide {
    height: 100vh;

    // * Setting the vw to 100vw makes horizontal scroll appear
    // width: 100vw;
}


// ! Temporarily setting the max width of svg's so they don't clutter the workspace
.svg__bag,
#svg__boat,
.svg__fish {
    max-width: 200px;
}

// Section for styling and animating the introduction
.slide--one {
    
    // Setting the overflow to hidden because the seagulls are starting off screen, 
    // preventing horizontal scroll before they move inside the viewport again.
    overflow: hidden;
    display: flex;
    flex-direction: column;

    // The container for all the seagulls, used to make the seagulls move across the screen
    .seagull__container {
        margin-block: 2vh;

        // Setting the position to relative and moving it off the screen, 
        // allowing for the animation to move them on screen again
        position: relative;
        left: 100vw;
        
        // Animation that moves the seagulls inside the viewport again
        animation: seagullMove_anim 4s ease-out 0s normal forwards;
    }

    .svg__seagull {
        // The animation for the seagulls "floating" around
        animation: seagullShake__anim 2s ease 0s infinite normal forwards;
    }

    .svg__seagull:nth-child(1) {
        width: 200px;
    }


    // nth-child 2 and 3 are used to position the seagulls more naturally,
    // instead of having them next to each other on a line
    .svg__seagull:nth-child(2) {
        position: relative;
        width: 100px;
        top: -80px;
        left: -20px;
    }

    .svg__seagull:nth-child(3) {
        position: relative;
        width: 150px;
        left: -120px;
    }

}

// Wave used as the water line
#svg__wave {

    fill: colors.$bg-primary;

    // Setting the aspect ratio to the same as the original .svg
    aspect-ratio: 960 / 300;
    width: 100%;

    // Using absolute positioning to position the element at the bottom of the viewport
    position: absolute;
    bottom: 0;
}

// Section for styling and animating slide five
.slide--five { 

    // Hides overflow to prevent the screen from increasing in width due to animations
    overflow: hidden;
    
    // ! Temporay border 
    border: 3px red solid;

    // Slide five red highlighted text
    .slide__five__red--highlight {
        color: red;
    }

    .SVG__slide__five__pipe {
        position: relative;
        height: 60%;
        width: 60%;
        left: -17%;
        top: 10%;
        z-index: 1;
        // Animation for the pipe "spiting out" trash
        animation: 1.5s 0s infinite;
        animation-name: anim__pipe__spitingout;
        
    }


    .slide__five__trash__container {
        // ! Temporay border
        border: 3px green solid;
        position: relative;
        top: -50.5%;
        left: 19%;
        height: 57%;
        width: 80%;
        z-index: 1;

        .SVG__slide__five__body__container {
            border: 3px purple solid;
            display: flex;
            flex-direction: column;
            .SVG__slide__five__body {
                
                height: 5%;
                width: 5%;
               
        
                // Animation for leaving the pipe
                animation: 3s timing-function 0s infinite;
                animation-name: anim__pipe__trash__move;
                
            }
        }
        
    
        .SVG__slide__five__barrel {
            position: relative;
            height: 10%;
            width: 10%;
            left: 0px;
            top: 7%;
    
            // Animation for leaving the pipe
            animation: 3s timing-function 2s infinite;
            animation-name: anim__pipe__trash__move;
        }
    
        .SVG__slide__five__radsign {
            position: relative;
            height: 10%;
            width: 10%;
            left: 0px;
            top: 7%;
    
            // Animation for leaving the pipe
            animation: 3s timing-function 0.5s infinite;
            animation-name: anim__pipe__trash__move;
        }
    
        .SVG__slide__five__fish__alive {
            position: relative;
            height: 10%;
            width: 10%;
            left: 0px;
            top: 7%;
            
            // Animation for leaving the pipe
            animation: 3s timing-function 1.5s infinite;
            animation-name: anim__pipe__trash__move;
        }
    }

    
    
}

// Section for styling and animating slide six
.slide--six {
    // ! Draft fucking not good
    // border: 2px red solid;

    .SVG__slide__six__container{
        height: 73.6%;
        // border: 2px green solid;
    

        .SVG__slide__six__thermometer {
            position: relative;
            height: 10%;
            width: 10%;
            top: 80%;
            
            border: 2px green solid;
        }

    }   

}

// Section for styling and animating slide seven
.slide--seven {

    .slide__seven__red--highlight {
        color: red;
    }

}