@use "../abstracts/colors";
@use "../seperations/animations";

// Setting the width and height of all the slides so everyone starts with the same canvas
.slide {
    // Setting the scroll-snap-align property to activate scroll snapping
    scroll-snap-align: start;

    height: 100vh;

    // ! Setting the vw to 100vw makes horizontal scroll appear even though nothing is outside 100vw
    // width: 100vw;

    // ? Shared style for all heading and paragraphs, making the text not hug the wall
    h1,
    h2,
    p {
        margin-left: 2vw;
    }
}

// Section for styling and animating the introduction
.slide--one {

    // Setting the overflow to hidden because the seagulls are starting off screen, 
    // preventing horizontal scroll before they move inside the viewport again.
    overflow: hidden;
    display: flex;
    flex-direction: column;

    // The container for all the seagulls, used to make the seagulls move across the screen
    .seagull__container {
        margin-block: 2vh;

        // Setting the position to relative and moving it off the screen, 
        // allowing for the animation to move them on screen again
        position: relative;
        left: 100vw;

        // Animation that moves the seagulls inside the viewport again
        animation: seagullMove_anim 4s ease-out 0s normal forwards;
    }

    .svg__seagull {
        // The animation for the seagulls "floating" around
        animation: seagullShake__anim 2s ease 0s infinite normal forwards;
    }

    .svg__seagull:nth-child(1) {
        width: 200px;
    }


    // nth-child 2 and 3 are used to position the seagulls more naturally,
    // instead of having them next to each other on a line
    .svg__seagull:nth-child(2) {
        position: relative;
        width: 100px;
        top: -80px;
        left: -20px;
    }

    .svg__seagull:nth-child(3) {
        position: relative;
        width: 150px;
        left: -120px;
    }

    // Making article appear in the middle of the screen, making the text more readable
    .slide__one__article {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Animation for fading in the text when the page loads
        animation: fadeIn__anim 5s;
    }

}

.slide--two {
    display: flex;
    flex-direction: column;

    // Overflow needs to be hidden since the boat is positioned to the left of the viewport
    overflow: hidden;

    .slide__two__article {
        max-width: 70ch;
        text-align: center;
    }

    // Wave used as the water line
    #svg__wave {
        fill: colors.$bg-primary;

        // Setting the aspect ratio to the same as the original .svg, getting the aspect ratio from the viewbox attribute
        aspect-ratio: 960 / 300;
        width: 100vw;

        // Using relative positioning to position the element at the bottom of the viewport
        position: relative;
        margin-top: auto;

        // Setting z-index to 0 so the boat svg can appear ahead
        z-index: 0;
    }

    #svg__boat {
        // Positioning the boat of screen to the left, so it can be animated on screen with gsap
        position: relative;
        left: 110%;
        top: 40vh;

        width: 700px;

        // Setting z-index to 1 so it appears ahead of the wave svg
        z-index: 1;
    }
}



.slide--three {
    overflow: hidden;

    .slide__three__article {
        max-width: 65ch;
        z-index: 2;
        text-align: center;
    }

    .svg__fish {
        width: 250px;
        position: relative;
        top: 100px;
        left: 100px;
        z-index: 1;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
    }
}

.slide--four {
    display: flex;
    justify-content: center;
    align-items: center;

    .slide__four--article {
        margin-inline: 5vw;
        max-width: 70ch;
    }

    .svg__bag {
        width: 150px;
        position: relative;
        margin: 2vw;
    }

    .svg__bag--1,
    .svg__bag--3 {
        top: -10vh;
    }

    .svg__bag--2,
    .svg__bag--4 {
        top: 20vh;
    }
}

// Section for styling and animating slide five
.slide--five {

    // Slide five -- Hides overflow to prevent the screen from increasing in width due to animations
    overflow: hidden;

    // Highlights text to empathize a warning
    .slide__five__red--highlight {
        color: red;
    }

    // Slide five -- Text container size for easier positioning of svgs
    .slide__five__text__container {
        height: 20vh;
    }

    // Slide five -- Svg container size and flex
    .slide__five__svg__container {
        position: relative;
        height: 38vw;
        width: 100vw;
        left: -20vw;
    }

    // Slide five -- pipe positioning size and animation
    .SVG__slide__five__pipe {
        position: relative;
        z-index: 1;
        height: 70%;
        width: 70%;
        top: 25%;

        // Animation for the pipe "spiting out" trash
        animation: 1.5s 0s infinite;
        animation-name: anim__pipe__spitingout;
    }

    // Slide five -- Positioning and size of trash svgs
    .slide__five__trash__container {
        position: relative;
        top: -15vw;
        left: 38vw;

        height: 50%;
        width: 50%;

        // Slide five -- body positioning and animation container
        .SVG__slide__five__body__container {

            display: flex;
            flex-direction: column;

            // Slide five -- body size
            .SVG__slide__five__body {
                height: 4%;
                width: 4%;
            }

            // Animation delay to improve variability
            .SVG__slide__five__body1 {
                animation: 3s timing-function 0s infinite;
                animation-name: anim__pipe__body__move;
            }

            // Animation delay to improve variability
            .SVG__slide__five__body2 {
                animation: 3s timing-function 0.5s infinite;
                animation-name: anim__pipe__body__move;
            }

            // Animation delay to improve variability
            .SVG__slide__five__body3 {
                animation: 3s timing-function 1s infinite;
                animation-name: anim__pipe__body__move;
            }

        }

        // Slide five -- barrel positioning and animation container
        .SVG__slide__five__barrel__container {
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            top: -95%;
            height: 100%;

            // General slide five barrel positioning 
            .SVG__slide__five__barrel {
                height: 10%;
                width: 4%;
                left: 0px;
                top: 7%;
            }

            // Diffrent barrel animation delays
            .SVG__slide__five__barrel1 {
                // Animation for leaving the pipe
                animation: 3s timing-function 3s infinite;
                animation-name: anim__pipe__barrel__move;
            }

            .SVG__slide__five__barrel2 {
                // Animation for leaving the pipe
                animation: 3s timing-function 1.8s infinite;
                animation-name: anim__pipe__barrel__move;
            }

            .SVG__slide__five__barrel3 {
                // Animation for leaving the pipe
                animation: 3s timing-function 2s infinite;
                animation-name: anim__pipe__barrel__move;
            }

            .SVG__slide__five__barrel4 {
                // Animation for leaving the pipe
                animation: 3s timing-function 0s infinite;
                animation-name: anim__pipe__barrel__move;
            }

            .SVG__slide__five__barrel5 {
                // Animation for leaving the pipe
                animation: 3s timing-function 1s infinite;
                animation-name: anim__pipe__barrel__move;
            }

            .SVG__slide__five__barrel6 {
                // Animation for leaving the pipe
                animation: 3s timing-function 2.8s infinite;
                animation-name: anim__pipe__barrel__move;
            }

        }

        // Slide five -- rad sign positioning and animation container
        .SVG__slide__five__radsign__container {
            top: -194%;
            max-height: 100%;
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;


            .SVG__slide__five__radsign {
                height: 3%;
                width: 3%;
            }

            .SVG__slide__five__radsign:nth-child(1) {
                // Animation for leaving the pipe
                animation: 5s 0.5s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(2) {
                // Animation for leaving the pipe
                animation: 5s 2.3s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(3) {
                // Animation for leaving the pipe
                animation: 5s 1.2s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(4) {
                // Animation for leaving the pipe
                animation: 5s 0.2s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(5) {
                // Animation for leaving the pipe
                animation: 5s 0.9s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(6) {
                // Animation for leaving the pipe
                animation: 5s 2s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(7) {
                // Animation for leaving the pipe
                animation: 5s 2.2s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(8) {
                // Animation for leaving the pipe
                animation: 5s 1.5s infinite;
                animation-name: anim__pipe__radsign__move;
            }

            .SVG__slide__five__radsign:nth-child(9) {
                // Animation for leaving the pipe
                animation: 5s 1.11s infinite;
                animation-name: anim__pipe__radsign__move;
            }
        }

        // Slide five -- dead fish positioning and animation container
        .SVG__slide__five__fish__dead__container {

            top: -294%;
            max-height: 100%;

            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;


            .SVG__slide__five__fish__dead {
                position: relative;
                padding: 1%;
                width: 10%;
            }

            .SVG__slide__five__fish__dead:nth-child(1) {
                // Animation for leaving the pipe
                animation: 3s 1.5s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }

            .SVG__slide__five__fish__dead:nth-child(2) {
                // Animation for leaving the pipe
                animation: 3s 0.1s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }

            .SVG__slide__five__fish__dead:nth-child(3) {
                // Animation for leaving the pipe
                animation: 3s 2s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }

            .SVG__slide__five__fish__dead:nth-child(4) {
                // Animation for leaving the pipe
                animation: 3s 1s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }

            .SVG__slide__five__fish__dead:nth-child(5) {
                // Animation for leaving the pipe
                animation: 3s 0s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }

            .SVG__slide__five__fish__dead:nth-child(6) {
                // Animation for leaving the pipe
                animation: 3s 0.7s infinite;
                animation-name: anim__pipe__fish__dead__move;
            }
        }
    }




}

// Section for styling and animating slide six
.slide--six {
    overflow: hidden;

    // Slide six -- makes textcontainer to easier position svgs
    .slide__six__text__container {
        height: 20vh;
    }

    // Slide six -- SVG size 
    .SVG__slide__six__container {
        height: 75vh;

        // Slide six -- SVG size, positioning and animation
        .thermometer__animpart__container {
            position: relative;
            height: 50vh;
            width: 50vh;
            transform: rotate(180deg);
        }


        // Slide six -- Left thermometer positioning and container
        .thermometer__animpart__container:nth-child(1) {
            position: relative;
            top: 47vh;
            left: 27vh;
            transform: rotate(120deg);
            animation: 15s 0s linear;
            animation-name: anim__thermometer__fall__left;


            // Slide six -- Thermometer positioning, size, visibility and animation
            .SVG__slide__six__thermometer:nth-child(1) {
                position: relative;
                top: 25vh;
                z-index: 1;
            }

            // Slide six -- Thermometer  Red inside positioning, size and animation
            .slide__six__thermometer__red {
                background: #ee1f08;
                position: relative;
                height: 100vh;
                width: 4.2vh;

                top: -169vh;
                left: 23.3vh;

                z-index: 4;

                animation: 15s 0s;
                animation-name: anim__slide__six__thermometer__red;

            }

            // Slide six -- Broken thermometer positioning, size, visibility and animation
            .SVG__slide__six__thermometer:nth-child(2) {
                position: relative;
                top: -25.5vh;
                visibility: hidden;
                z-index: 1;
            }
        }

        // Slide six -- Right thermometer positioning and container
        .thermometer__animpart__container:nth-child(2) {
            top: 0vh;
            left: 207vh;
            transform: rotate(120deg);

            animation: 15s 0s linear;
            animation-name: anim__thermometer__fall__right;


            // Slide six -- Thermometer positioning, size, visibility and animation
            .SVG__slide__six__thermometer:nth-child(1) {
                position: relative;
                top: 25vh;
                z-index: 1;

                visibility: hidden;

                animation: 11.2s 0s;
                animation-name: anim__thermometer__hidden;
            }

            // Slide six -- Thermometer  Red inside positioning, size and animation
            .slide__six__thermometer__red {
                background: #ee1f08;
                position: relative;
                height: 100vh;
                width: 4.2vh;

                top: -169vh;
                left: 23.3vh;

                z-index: 4;

                animation: 15s 0s;
                animation-name: anim__slide__six__thermometer__red;

            }

            // Slide six -- Broken thermometer positioning, size, visibility and animation
            .SVG__slide__six__thermometer:nth-child(2) {
                position: relative;
                top: -81vh;
                visibility: visible;
                z-index: 1;

                animation: 12.2s 0s;
                animation-name: anim__thermometer__reveal;
            }

        }



    }

}

// Section for styling and animating slide seven
.slide--seven {

    // Hides overfolw to prevent animations to go to other slides
    overflow: hidden;

    // Highlights text to empathize a warning
    .slide__seven__red--highlight {
        color: red;
    }

    // Setts the height for slide seven text container to position svgs at bottom
    .slide__seven__text {
        height: 50vh;
    }

    // Helps position svg container at bottom of slide
    .slide__seven__positioning__container {
        width: 100vw;
        height: 50vh;
        ;
    }

    // Slide seven svg container width and flex box
    .slide__seven__SVG__container__top,
    .slide__seven__SVG__container__bot {
        border: 3px purple solid;
        width: 100vw;
        height: 20vh;

        display: flex;
        flex-direction: row;
    }


    // Slide seven -- mixes up bot svg positioning for more variability
    .slide__seven__SVG__container__bot {
        flex-direction: row-reverse;
    }

    // Slide seven -- Top svgs animation delays for variability
    .slide__seven__SVG__container__top {

        .SVG__slide__seven__fish__dead:nth-child(1) {
            animation: 10s 2s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

        .svg__slide__seven__no02:nth-child(2) {
            animation: 10s 0s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .svg__slide__seven__green__lines:nth-child(3) {
            animation: 10s 0s infinite;
            animation-name: anim__deadzones__flowdown__alive__fish;
        }

        .svg__slide__seven__no02:nth-child(4) {
            animation: 10s 0.9s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .SVG__slide__seven__fish__dead:nth-child(5) {
            animation: 10s 0.2s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

        .svg__slide__seven__no02:nth-child(6) {
            animation: 10s 8s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }


        .svg__slide__seven__skull:nth-child(7) {
            animation: 10s 4s infinite;
            animation-name: anim__deadzones__flowup__coral__red;
        }

        .svg__slide__seven__skull:nth-child(8) {
            animation: 10s 1.2s infinite;
            animation-name: anim__deadzones__flowup__coral__red;
        }

        .svg__slide__seven__no02:nth-child(9) {
            animation: 10s 0s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .SVG__slide__seven__fish__dead:nth-child(10) {
            animation: 10s 1s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

    }

    // Slide seven -- Bot svgs animation delays for variability
    .slide__seven__SVG__container__bot {

        .SVG__slide__seven__fish__dead:nth-child(1) {
            animation: 10s 0.6s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

        .svg__slide__seven__coral__orange:nth-child(2) {
            animation: 10s 2.2s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .svg__slide__seven__green__lines:nth-child(3) {
            animation: 10s 1.8s infinite;
            animation-name: anim__deadzones__flowdown__alive__fish;
        }

        .svg__slide__seven__coral__orange:nth-child(4) {
            animation: 10s 0.45s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .SVG__slide__seven__fish__dead:nth-child(5) {
            animation: 10s 2s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

        .svg__slide__seven__coral__orange:nth-child(6) {
            animation: 10s 3s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .svg__slide__seven__skull:nth-child(7) {
            animation: 10s 1s infinite;
            animation-name: anim__deadzones__flowup__coral__red;
        }

        .svg__slide__seven__skull:nth-child(8) {
            animation: 10s 3.333s infinite;
            animation-name: anim__deadzones__flowup__coral__red;
        }

        .svg__slide__seven__coral__orange:nth-child(9) {
            animation: 10s 3s infinite;
            animation-name: anim__deadzones__flowup__coral__orange;
        }

        .SVG__slide__seven__fish__dead:nth-child(10) {
            animation: 10s 4s infinite;
            animation-name: anim__deadzones__flowup__dead__fish;
        }

    }


}