@media (prefers-reduced-motion) {
    .tsquare-container .tsquare,
    .storm_square,
    .dcube {
        animation: none;
    }
}

@media (prefers-color-scheme: dark) {
    .squares-container {
        background-color: #444;
    }
    
    .tsquare { 
      background-color: #9b486c;
    }
}

@media (orientation: portrait) {
    .tsquare-container,
    .storm_square,
    .dcube-cont{
        background-color: #ddd;
    }
    
}