@use "./abstracts/colors";
@use "./abstracts/fonts";
@use "./seperations/animations";
@use "./seperations/layout";
@use './layout/header';
@use './layout/footer';
@use './abstracts/svg-fills';
@use "./layout/slides";

// Resetting margins and paddings
html,
body {
    margin: 0;
    padding: 0;

    /* 
        Setting up for scroll snapping when scrolling vertically. 
        Setting the scroll-snap-point-y to repeat 100vh so that it is possible to use the native scrollbar, 
        and not some inset scrollbar created by a div. Since we are repeating 100vh, 
        it can be compared to setting the snap point on the .slide divs. 
        The scroll snap type is set to proximity since the mandatory one was too "strict".
        
        For this to work we also need to set the scroll-snap-align property on the objects we want to snap to, 
        which we have done in the _slides.scss.
    */
    scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(100vh);
}

h1,
h2,
h3 {
    font-family: fonts.$font-header;
    font-size: 48px;

    // Before the margins and paddings were reset the headings would make whitespace appear between the slides
    margin: 0;
    padding: 0;
}

p {
    font-family: fonts.$font-paragraph;
    font-size: 18px;
}

// Setting a linear gradient as a background, creating the illusion that you go deeper and deeper
.underwater {
    background: rgb(146, 215, 231);
    background: linear-gradient(180deg, colors.$bg-primary 0%, colors.$bg-secondary 100%);
}