@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v13/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexserif/v14/jizAREVNn1dOx-zrZ2X3pZvkTi3s-CI0q1vjitOh.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@-webkit-keyframes seagullShake__anim {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes seagullShake__anim {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes seagullMove_anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-95vw);
  }
}
@keyframes seagullMove_anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-95vw);
  }
}
@-webkit-keyframes anim__pipe__body__move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(40vw) rotate(120deg);
  }
  100% {
    transform: translate(120vw) rotate(420deg);
  }
}
@keyframes anim__pipe__body__move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(40vw) rotate(120deg);
  }
  100% {
    transform: translate(120vw) rotate(420deg);
  }
}
@-webkit-keyframes anim__pipe__barrel__move {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(120vw) rotate(-420deg);
  }
}
@keyframes anim__pipe__barrel__move {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(120vw) rotate(-420deg);
  }
}
@-webkit-keyframes anim__pipe__radsign__move {
  0% {
    transform: translate(0);
  }
  75% {
    transform: translate(55vw);
  }
  100% {
    transform: translate(120vw) rotate(-100deg);
  }
}
@keyframes anim__pipe__radsign__move {
  0% {
    transform: translate(0);
  }
  75% {
    transform: translate(55vw);
  }
  100% {
    transform: translate(120vw) rotate(-100deg);
  }
}
@-webkit-keyframes anim__pipe__fish__dead__move {
  0% {
    transform: translate(0) rotate(10deg);
  }
  100% {
    transform: translate(120vw, 0px) rotate(110deg);
  }
}
@keyframes anim__pipe__fish__dead__move {
  0% {
    transform: translate(0) rotate(10deg);
  }
  100% {
    transform: translate(120vw, 0px) rotate(110deg);
  }
}
@-webkit-keyframes anim__pipe__spitingout {
  0% {
    width: 60%;
  }
  50% {
    width: 63%;
  }
  100% {
    width: 60%;
  }
}
@keyframes anim__pipe__spitingout {
  0% {
    width: 60%;
  }
  50% {
    width: 63%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes anim__thermometer__fall__left {
  0% {
    top: -200vh;
    left: 20vh;
    transform: rotate(180deg);
  }
  30% {
    top: 55vh;
  }
  40% {
    top: 55vh;
    left: 20vh;
    transform: rotate(180deg);
  }
  60% {
    top: 47vh;
    left: 27vh;
    transform: rotate(120deg);
  }
  100% {
    top: 47vh;
    left: 27vh;
    transform: rotate(120deg);
  }
}
@keyframes anim__thermometer__fall__left {
  0% {
    top: -200vh;
    left: 20vh;
    transform: rotate(180deg);
  }
  30% {
    top: 55vh;
  }
  40% {
    top: 55vh;
    left: 20vh;
    transform: rotate(180deg);
  }
  60% {
    top: 47vh;
    left: 27vh;
    transform: rotate(120deg);
  }
  100% {
    top: 47vh;
    left: 27vh;
    transform: rotate(120deg);
  }
}
@-webkit-keyframes anim__thermometer__fall__right {
  0% {
    top: -200vh;
    left: 200vh;
    transform: rotate(180deg);
  }
  30% {
    top: 55vh;
  }
  40% {
    top: 0vh;
    left: 200vh;
    transform: rotate(180deg);
  }
  60% {
    top: 0vh;
    left: 207vh;
    transform: rotate(120deg);
  }
  100% {
    top: 0vh;
    left: 207vh;
    transform: rotate(120deg);
  }
}
@keyframes anim__thermometer__fall__right {
  0% {
    top: -200vh;
    left: 200vh;
    transform: rotate(180deg);
  }
  30% {
    top: 55vh;
  }
  40% {
    top: 0vh;
    left: 200vh;
    transform: rotate(180deg);
  }
  60% {
    top: 0vh;
    left: 207vh;
    transform: rotate(120deg);
  }
  100% {
    top: 0vh;
    left: 207vh;
    transform: rotate(120deg);
  }
}
@-webkit-keyframes anim__slide__six__thermometer__red {
  0% {
    height: 5vh;
  }
  30% {
    height: 5vh;
  }
  40% {
    height: 60vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes anim__slide__six__thermometer__red {
  0% {
    height: 5vh;
  }
  30% {
    height: 5vh;
  }
  40% {
    height: 60vh;
  }
  100% {
    height: 100vh;
  }
}
@-webkit-keyframes anim__thermometer__hidden {
  0% {
    visibility: visible;
  }
  79% {
    visibility: visible;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes anim__thermometer__hidden {
  0% {
    visibility: visible;
  }
  79% {
    visibility: visible;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes anim__thermometer__reveal {
  0% {
    visibility: hidden;
  }
  70% {
    visibility: hidden;
  }
  80% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
@keyframes anim__thermometer__reveal {
  0% {
    visibility: hidden;
  }
  70% {
    visibility: hidden;
  }
  80% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes anim__deadzones__flowup__dead__fish {
  0% {
    transform: translateY(0vh);
  }
  18% {
    transform: translateY(-45vh);
  }
  32% {
    transform: translateY(-40vh);
  }
  41% {
    transform: translateY(-45vh);
  }
  57% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
@keyframes anim__deadzones__flowup__dead__fish {
  0% {
    transform: translateY(0vh);
  }
  18% {
    transform: translateY(-45vh);
  }
  32% {
    transform: translateY(-40vh);
  }
  41% {
    transform: translateY(-45vh);
  }
  57% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
@-webkit-keyframes anim__deadzones__flowup__coral__orange {
  0% {
    transform: translateY(0vh);
  }
  22% {
    transform: translateY(-60vh);
  }
  44% {
    transform: translateY(-30vh);
  }
  67% {
    transform: translateY(-69vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
@keyframes anim__deadzones__flowup__coral__orange {
  0% {
    transform: translateY(0vh);
  }
  22% {
    transform: translateY(-60vh);
  }
  44% {
    transform: translateY(-30vh);
  }
  67% {
    transform: translateY(-69vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
@-webkit-keyframes anim__deadzones__flowdown__alive__fish {
  0% {
    transform: translateY(-130vh);
  }
  100% {
    transform: translateY(20vh);
  }
}
@keyframes anim__deadzones__flowdown__alive__fish {
  0% {
    transform: translateY(-130vh);
  }
  100% {
    transform: translateY(20vh);
  }
}
@-webkit-keyframes anim__deadzones__flowup__coral__red {
  0% {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(-23vh);
  }
  50% {
    transform: translateY(-10vh);
  }
  84% {
    transform: translateY(-59vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
@keyframes anim__deadzones__flowup__coral__red {
  0% {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(-23vh);
  }
  50% {
    transform: translateY(-10vh);
  }
  84% {
    transform: translateY(-59vh);
  }
  100% {
    transform: translateY(-130vh);
  }
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgb(146, 215, 231);
  padding-block: 2vh;
  display: grid;
  place-items: center;
}

.svg__seagull .cls-1 {
  fill: #e5e6e8;
}
.svg__seagull .cls-2 {
  fill: #bbbdbf;
}
.svg__seagull .cls-3 {
  fill: #cbd4da;
}
.svg__seagull .cls-4 {
  fill: #55595c;
}
.svg__seagull .cls-5 {
  fill: #ecf6fb;
}
.svg__seagull .cls-6 {
  fill: #5a5b5c;
}
.svg__seagull .cls-7 {
  fill: #64788b;
}
.svg__seagull .cls-8 {
  fill: #e6f1f7;
}
.svg__seagull .cls-9 {
  fill: #647b91;
}
.svg__seagull .cls-10 {
  fill: #a6bfd4;
}
.svg__seagull .cls-11 {
  fill: #a8bfd3;
}
.svg__seagull .cls-12 {
  fill: #92a7b9;
}
.svg__seagull .cls-13 {
  fill: #dd923f;
}
.svg__seagull .cls-14 {
  fill: #e4d6c2;
}
.svg__seagull .cls-15 {
  fill: #535455;
}
.svg__seagull .cls-16 {
  fill: #ede2d5;
}
.svg__seagull .cls-17 {
  fill: #cba171;
}
.svg__seagull .cls-18 {
  fill: #bc9659;
}
.svg__seagull .cls-19 {
  fill: #788491;
}
.svg__seagull .cls-20 {
  fill: #a1703c;
}
.svg__seagull .cls-21 {
  fill: #dcb074;
}

.svg__bag .cls-1 {
  fill: #e5e3e4;
}
.svg__bag .cls-2 {
  fill: #d9d4d4;
}
.svg__bag .cls-3 {
  fill: #d4b8bc;
}
.svg__bag .cls-4 {
  fill: #c79699;
}
.svg__bag .cls-5 {
  fill: #e0dedf;
}
.svg__bag .cls-6 {
  fill: #e4001e;
}
.svg__bag .cls-7 {
  fill: #e50023;
}
.svg__bag .cls-8 {
  fill: #e4001a;
}
.svg__bag .cls-9 {
  fill: #e30015;
}
.svg__bag .cls-10 {
  fill: #dcdade;
}

.svg__fish .cls-1 {
  fill: #b0ddde;
}
.svg__fish .cls-2 {
  fill: #9bcecd;
}
.svg__fish .cls-3 {
  fill: #ecbdb4;
}
.svg__fish .cls-4 {
  fill: #0f6953;
}
.svg__fish .cls-5 {
  fill: #106954;
}
.svg__fish .cls-6 {
  fill: #cfccc8;
}
.svg__fish .cls-7 {
  fill: #83bcb7;
}
.svg__fish .cls-8 {
  fill: #69a9a0;
}
.svg__fish .cls-9 {
  fill: #2d7e6c;
}
.svg__fish .cls-10 {
  fill: #4a9386;
}
.svg__fish .cls-11 {
  fill: #186c58;
}
.svg__fish .cls-12 {
  fill: #cbcec9;
}
.svg__fish .cls-13 {
  fill: #0f6955;
}
.svg__fish .cls-14 {
  fill: #156b57;
}
.svg__fish .cls-15 {
  fill: #29715e;
}

#svg__boat .cls-1 {
  fill: #24374a;
}
#svg__boat .cls-2 {
  fill: #67bcda;
}
#svg__boat .cls-3 {
  fill: #fdc687;
}
#svg__boat .cls-4 {
  fill: #2a5250;
}
#svg__boat .cls-5 {
  fill: #ed3b4f;
}
#svg__boat .cls-6 {
  fill: #f0b097;
}
#svg__boat .cls-7 {
  fill: #9ad8f6;
}
#svg__boat .cls-8 {
  fill: #f4e5db;
}
#svg__boat .cls-9 {
  fill: #fc7581;
}

.SVG__slide__five__body .st0 {
  stroke: #000000;
  stroke-miterlimit: 10;
}

.SVG__slide__five__pipe .st0 {
  fill: #39B54A;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.SVG__slide__five__pipe .st1 {
  fill: #009444;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.SVG__slide__five__radsign .st0 {
  fill: #F8EC24;
}

.SVG__slide__five__fish__dead .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.SVG__slide__six__thermometer:nth-child(1) .st0 {
  fill: #ee1f08;
}
.SVG__slide__six__thermometer:nth-child(1) .st1 {
  fill: none;
}
.SVG__slide__six__thermometer:nth-child(1) .st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.SVG__slide__six__thermometer:nth-child(2) .st0 {
  fill: #ee1f08;
}
.SVG__slide__six__thermometer:nth-child(2) .st1 {
  fill: none;
}
.SVG__slide__six__thermometer:nth-child(2) .st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.SVG__slide__seven__fish__dead .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.svg__slide__seven__green__lines .st0 {
  fill: none;
  stroke: #006838;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.svg__slide__seven__no02 .st0 {
  fill: none;
  stroke: #BE1E2D;
  stroke-width: 8;
  stroke-miterlimit: 10;
}
.svg__slide__seven__no02 .st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.svg__slide__seven__no02 .st2 {
  font-family: "MyriadPro-Regular";
}
.svg__slide__seven__no02 .st3 {
  font-size: 30px;
}

.slide {
  scroll-snap-align: start;
  height: 100vh;
}
.slide h1, .slide h2, .slide p {
  margin-left: 2vw;
}

#svg__boat {
  max-width: 200px;
}

.slide--one {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.slide--one .seagull__container {
  margin-block: 2vh;
  position: relative;
  left: 100vw;
  -webkit-animation: seagullMove_anim 4s ease-out 0s normal forwards;
          animation: seagullMove_anim 4s ease-out 0s normal forwards;
}
.slide--one .svg__seagull {
  -webkit-animation: seagullShake__anim 2s ease 0s infinite normal forwards;
          animation: seagullShake__anim 2s ease 0s infinite normal forwards;
}
.slide--one .svg__seagull:nth-child(1) {
  width: 200px;
}
.slide--one .svg__seagull:nth-child(2) {
  position: relative;
  width: 100px;
  top: -80px;
  left: -20px;
}
.slide--one .svg__seagull:nth-child(3) {
  position: relative;
  width: 150px;
  left: -120px;
}
.slide--one article {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#svg__wave {
  fill: rgb(146, 215, 231);
  aspect-ratio: 960/300;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.slide--three {
  overflow: hidden;
}
.slide--three .svg__fish {
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
}
.slide--three .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.slide--four {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide--four .slide__four--article {
  margin-inline: 5vw;
  max-width: 70ch;
}
.slide--four .svg__bag {
  width: 150px;
  position: relative;
  margin: 2vw;
}
.slide--four .svg__bag--1,
.slide--four .svg__bag--3 {
  top: -10vh;
}
.slide--four .svg__bag--2,
.slide--four .svg__bag--4 {
  top: 20vh;
}

.slide--five {
  overflow: hidden;
}
.slide--five .slide__five__red--highlight {
  color: red;
}
.slide--five .slide__five__text__container {
  height: 20vh;
}
.slide--five .slide__five__svg__container {
  position: relative;
  height: 38vw;
  width: 100vw;
  left: -20vw;
}
.slide--five .SVG__slide__five__pipe {
  position: relative;
  z-index: 1;
  height: 70%;
  width: 70%;
  top: 25%;
  -webkit-animation: 1.5s 0s infinite;
          animation: 1.5s 0s infinite;
  -webkit-animation-name: anim__pipe__spitingout;
          animation-name: anim__pipe__spitingout;
}
.slide--five .slide__five__trash__container {
  position: relative;
  top: -15vw;
  left: 38vw;
  height: 50%;
  width: 50%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__body__container {
  display: flex;
  flex-direction: column;
}
.slide--five .slide__five__trash__container .SVG__slide__five__body__container .SVG__slide__five__body {
  height: 4%;
  width: 4%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__body__container .SVG__slide__five__body1 {
  -webkit-animation: 3s timing-function 0s infinite;
          animation: 3s timing-function 0s infinite;
  -webkit-animation-name: anim__pipe__body__move;
          animation-name: anim__pipe__body__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__body__container .SVG__slide__five__body2 {
  -webkit-animation: 3s timing-function 0.5s infinite;
          animation: 3s timing-function 0.5s infinite;
  -webkit-animation-name: anim__pipe__body__move;
          animation-name: anim__pipe__body__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__body__container .SVG__slide__five__body3 {
  -webkit-animation: 3s timing-function 1s infinite;
          animation: 3s timing-function 1s infinite;
  -webkit-animation-name: anim__pipe__body__move;
          animation-name: anim__pipe__body__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: -95%;
  height: 100%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel {
  height: 10%;
  width: 4%;
  left: 0px;
  top: 7%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel1 {
  -webkit-animation: 3s timing-function 3s infinite;
          animation: 3s timing-function 3s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel2 {
  -webkit-animation: 3s timing-function 1.8s infinite;
          animation: 3s timing-function 1.8s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel3 {
  -webkit-animation: 3s timing-function 2s infinite;
          animation: 3s timing-function 2s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel4 {
  -webkit-animation: 3s timing-function 0s infinite;
          animation: 3s timing-function 0s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel5 {
  -webkit-animation: 3s timing-function 1s infinite;
          animation: 3s timing-function 1s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__barrel__container .SVG__slide__five__barrel6 {
  -webkit-animation: 3s timing-function 2.8s infinite;
          animation: 3s timing-function 2.8s infinite;
  -webkit-animation-name: anim__pipe__barrel__move;
          animation-name: anim__pipe__barrel__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container {
  top: -194%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign {
  height: 3%;
  width: 3%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(1) {
  -webkit-animation: 5s 0.5s infinite;
          animation: 5s 0.5s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(2) {
  -webkit-animation: 5s 2.3s infinite;
          animation: 5s 2.3s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(3) {
  -webkit-animation: 5s 1.2s infinite;
          animation: 5s 1.2s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(4) {
  -webkit-animation: 5s 0.2s infinite;
          animation: 5s 0.2s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(5) {
  -webkit-animation: 5s 0.9s infinite;
          animation: 5s 0.9s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(6) {
  -webkit-animation: 5s 2s infinite;
          animation: 5s 2s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(7) {
  -webkit-animation: 5s 2.2s infinite;
          animation: 5s 2.2s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(8) {
  -webkit-animation: 5s 1.5s infinite;
          animation: 5s 1.5s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__radsign__container .SVG__slide__five__radsign:nth-child(9) {
  -webkit-animation: 5s 1.11s infinite;
          animation: 5s 1.11s infinite;
  -webkit-animation-name: anim__pipe__radsign__move;
          animation-name: anim__pipe__radsign__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container {
  top: -294%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead {
  position: relative;
  padding: 1%;
  width: 10%;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(1) {
  -webkit-animation: 3s 1.5s infinite;
          animation: 3s 1.5s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(2) {
  -webkit-animation: 3s 0.1s infinite;
          animation: 3s 0.1s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(3) {
  -webkit-animation: 3s 2s infinite;
          animation: 3s 2s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(4) {
  -webkit-animation: 3s 1s infinite;
          animation: 3s 1s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(5) {
  -webkit-animation: 3s 0s infinite;
          animation: 3s 0s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}
.slide--five .slide__five__trash__container .SVG__slide__five__fish__dead__container .SVG__slide__five__fish__dead:nth-child(6) {
  -webkit-animation: 3s 0.7s infinite;
          animation: 3s 0.7s infinite;
  -webkit-animation-name: anim__pipe__fish__dead__move;
          animation-name: anim__pipe__fish__dead__move;
}

.slide--six {
  overflow: hidden;
}
.slide--six .slide__six__text__container {
  height: 20vh;
}
.slide--six .SVG__slide__six__container {
  height: 75vh;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container {
  position: relative;
  height: 50vh;
  width: 50vh;
  transform: rotate(180deg);
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(1) {
  position: relative;
  top: 47vh;
  left: 27vh;
  transform: rotate(120deg);
  -webkit-animation: 15s 0s linear;
          animation: 15s 0s linear;
  -webkit-animation-name: anim__thermometer__fall__left;
          animation-name: anim__thermometer__fall__left;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(1) .SVG__slide__six__thermometer:nth-child(1) {
  position: relative;
  top: 25vh;
  z-index: 1;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(1) .slide__six__thermometer__red {
  background: #ee1f08;
  position: relative;
  height: 100vh;
  width: 4.2vh;
  top: -169vh;
  left: 23.3vh;
  z-index: 4;
  -webkit-animation: 15s 0s;
          animation: 15s 0s;
  -webkit-animation-name: anim__slide__six__thermometer__red;
          animation-name: anim__slide__six__thermometer__red;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(1) .SVG__slide__six__thermometer:nth-child(2) {
  position: relative;
  top: -25.5vh;
  visibility: hidden;
  z-index: 1;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(2) {
  top: 0vh;
  left: 207vh;
  transform: rotate(120deg);
  -webkit-animation: 15s 0s linear;
          animation: 15s 0s linear;
  -webkit-animation-name: anim__thermometer__fall__right;
          animation-name: anim__thermometer__fall__right;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(2) .SVG__slide__six__thermometer:nth-child(1) {
  position: relative;
  top: 25vh;
  z-index: 1;
  visibility: hidden;
  -webkit-animation: 11.2s 0s;
          animation: 11.2s 0s;
  -webkit-animation-name: anim__thermometer__hidden;
          animation-name: anim__thermometer__hidden;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(2) .slide__six__thermometer__red {
  background: #ee1f08;
  position: relative;
  height: 100vh;
  width: 4.2vh;
  top: -169vh;
  left: 23.3vh;
  z-index: 4;
  -webkit-animation: 15s 0s;
          animation: 15s 0s;
  -webkit-animation-name: anim__slide__six__thermometer__red;
          animation-name: anim__slide__six__thermometer__red;
}
.slide--six .SVG__slide__six__container .thermometer__animpart__container:nth-child(2) .SVG__slide__six__thermometer:nth-child(2) {
  position: relative;
  top: -81vh;
  visibility: visible;
  z-index: 1;
  -webkit-animation: 12.2s 0s;
          animation: 12.2s 0s;
  -webkit-animation-name: anim__thermometer__reveal;
          animation-name: anim__thermometer__reveal;
}

.slide--seven {
  overflow: hidden;
}
.slide--seven .slide__seven__red--highlight {
  color: red;
}
.slide--seven .slide__seven__text {
  height: 50vh;
}
.slide--seven .slide__seven__positioning__container {
  width: 100vw;
  height: 50vh;
}
.slide--seven .slide__seven__SVG__container__top, .slide--seven .slide__seven__SVG__container__bot {
  border: 3px purple solid;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
}
.slide--seven .slide__seven__SVG__container__bot {
  flex-direction: row-reverse;
}
.slide--seven .slide__seven__SVG__container__top .SVG__slide__seven__fish__dead:nth-child(1) {
  -webkit-animation: 10s 2s infinite;
          animation: 10s 2s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__no02:nth-child(2) {
  -webkit-animation: 10s 0s infinite;
          animation: 10s 0s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__green__lines:nth-child(3) {
  -webkit-animation: 10s 0s infinite;
          animation: 10s 0s infinite;
  -webkit-animation-name: anim__deadzones__flowdown__alive__fish;
          animation-name: anim__deadzones__flowdown__alive__fish;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__no02:nth-child(4) {
  -webkit-animation: 10s 0.9s infinite;
          animation: 10s 0.9s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__top .SVG__slide__seven__fish__dead:nth-child(5) {
  -webkit-animation: 10s 0.2s infinite;
          animation: 10s 0.2s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__no02:nth-child(6) {
  -webkit-animation: 10s 8s infinite;
          animation: 10s 8s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__skull:nth-child(7) {
  -webkit-animation: 10s 4s infinite;
          animation: 10s 4s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__red;
          animation-name: anim__deadzones__flowup__coral__red;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__skull:nth-child(8) {
  -webkit-animation: 10s 1.2s infinite;
          animation: 10s 1.2s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__red;
          animation-name: anim__deadzones__flowup__coral__red;
}
.slide--seven .slide__seven__SVG__container__top .svg__slide__seven__no02:nth-child(9) {
  -webkit-animation: 10s 0s infinite;
          animation: 10s 0s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__top .SVG__slide__seven__fish__dead:nth-child(10) {
  -webkit-animation: 10s 1s infinite;
          animation: 10s 1s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}
.slide--seven .slide__seven__SVG__container__bot .SVG__slide__seven__fish__dead:nth-child(1) {
  -webkit-animation: 10s 0.6s infinite;
          animation: 10s 0.6s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__coral__orange:nth-child(2) {
  -webkit-animation: 10s 2.2s infinite;
          animation: 10s 2.2s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__green__lines:nth-child(3) {
  -webkit-animation: 10s 1.8s infinite;
          animation: 10s 1.8s infinite;
  -webkit-animation-name: anim__deadzones__flowdown__alive__fish;
          animation-name: anim__deadzones__flowdown__alive__fish;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__coral__orange:nth-child(4) {
  -webkit-animation: 10s 0.45s infinite;
          animation: 10s 0.45s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__bot .SVG__slide__seven__fish__dead:nth-child(5) {
  -webkit-animation: 10s 2s infinite;
          animation: 10s 2s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__coral__orange:nth-child(6) {
  -webkit-animation: 10s 3s infinite;
          animation: 10s 3s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__skull:nth-child(7) {
  -webkit-animation: 10s 1s infinite;
          animation: 10s 1s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__red;
          animation-name: anim__deadzones__flowup__coral__red;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__skull:nth-child(8) {
  -webkit-animation: 10s 3.333s infinite;
          animation: 10s 3.333s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__red;
          animation-name: anim__deadzones__flowup__coral__red;
}
.slide--seven .slide__seven__SVG__container__bot .svg__slide__seven__coral__orange:nth-child(9) {
  -webkit-animation: 10s 3s infinite;
          animation: 10s 3s infinite;
  -webkit-animation-name: anim__deadzones__flowup__coral__orange;
          animation-name: anim__deadzones__flowup__coral__orange;
}
.slide--seven .slide__seven__SVG__container__bot .SVG__slide__seven__fish__dead:nth-child(10) {
  -webkit-animation: 10s 4s infinite;
          animation: 10s 4s infinite;
  -webkit-animation-name: anim__deadzones__flowup__dead__fish;
          animation-name: anim__deadzones__flowup__dead__fish;
}

.slide--eight {
  overflow: hidden;
}

.slide--eight .svg__fish {
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
}

.slide--eight .svg_skull1 {
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
}

.slide--eight .svg_skull2 {
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
}

.slide--nine {
  overflow: hidden;
}

.slide--nine .algae_svg{
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
}

.slide--nine .O2{
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
  color: white;
}

.slide--ten {
  overflow: hidden;
}

.slide--ten .svg__fish {
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotate(180deg);
}

html,
body {
  margin: 0;
  padding: 0;
  /* 
      Setting up for scroll snapping when scrolling vertically. 
      Setting the scroll-snap-point-y to repeat 100vh so that it is possible to use the native scrollbar, 
      and not some inset scrollbar created by a div. Since we are repeating 100vh, 
      it can be compared to setting the snap point on the .slide divs. 
      The scroll snap type is set to proximity since the mandatory one was too "strict".

      For this to work we also need to set the scroll-snap-align property on the objects we want to snap to, 
      which we have done in the _slides.scss.
  */
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
}

h1,
h2,
h3 {
  font-family: "IBM Plex Serif", serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "IBM Plex Sand", sans-serif;
  font-size: 18px;
}

.underwater {
  background: rgb(146, 215, 231);
  background: linear-gradient(180deg, rgb(146, 215, 231) 0%, rgb(43, 53, 144) 100%);
}/*# sourceMappingURL=index.css.map */