@use "./abstracts/colors";
@use "./abstracts/fonts";
@use "./seperations/animations";
@use "./seperations/layout";
@use './layout/header';
@use './layout/footer';
@use './abstracts/svg-fills';
@use "./layout/slides";

// Resetting margins and paddings
body {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3 {
    font-family: fonts.$font-header;
    font-size: 48px;
}

p {
    font-family: fonts.$font-paragraph;
    font-size: 18px;
}

// Setting a linear gradient as a background, creating the illusion that you go deeper and deeper
.underwater{
    background: rgb(146, 215, 231);
    background: linear-gradient(180deg, colors.$bg-primary 0%, colors.$bg-secondary 100%);
}